body {
  background-color: #9b0812;
  display: flex;
  flex-direction: column;
  font-family: Arial Black, sans-serif;
  color: #fad605;
  font-weight: bolder;
  align-items: center;
  position: relative;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fantastic-zoo {
  font-size: 5em;
  text-shadow: 4px 4px #482e2f;
}
.img-div {
  height: 300px;
  position: relative;
  text-align: center;
}

.kylie, .athlete {
  transform: scale(0.6);
  position: absolute;
}

.athlete {
  top: -129px;
  left: 273px;
  z-index: -1;
}

.kylie {
  top: -109px;
  left: 3px;
  z-index: -1;
}

.currently-residing {
  text-shadow: 4px 4px #482e2f;
}

.filter-container {
  display: flex;
  justify-content: center;
}

.filter-select {
  background: #c75e13;
  border: none;
  margin: 30px;
  font-size: 1.5em;
  color: #5f090c;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(250, 214, 5, 0.5);
  border-radius: 4px;
  text-shadow: 2px 2px #482e2f;
  padding: 20px;
  width: auto;
}

.update-btn {
  background: #c75e13;
  border: none;
  color: #5f090c;
  border-radius: 10px;
  height: 50px;
  font-size: 1.25em;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #5f090c;
  width: 100vw;
  margin: 20px;
  text-shadow: 2px 2px #482e2f;
}

.add-container label {
  font-size: 1.25em;
}

.add-btn {
  background: #c75e13;
  border: none;
  color: #5f090c;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  margin: 20px;
  font-size: 2em;
}
